{% extends 'base.html' %}

{% block contents %}

<h4 class="mt-3" align="center">Properties</h4>

<hr>
<form action="?" method="GET">
    <input type="text" name="type" id="" value="{{ request.GET.type  }}" class="p-1 border " autocomplete="off"
           placeholder="Apartment, Kitnet or House">
    <button type="submit" class="btn btn-dark">Filter</button>
    <a href="{% url 'property-list' %}" class="btn btn-light">Clean</a>
</form>

<ul class="list-group mt-3">
    {% for property in object_list %}
    <a class="list-group-item list-group" href="{% url 'property-detail' property.id  %}">{{ property }}</a>
    {% empty %}
    <td colspan="3">No records found</td>
    {% endfor %}
</ul>

<div class="col-12 mt-3" align="center">
    {% if request.user.is_authenticated %}
    <br><a class="btn btn-primary" href="{% url 'property-create' %}">New Property</a>
    {% endif %}
</div>

{% endblock %}